html {
  font-size: 62.5%;
  height: 100%; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

#fondo {
  background-color: #ffffff; }

:root {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px; }

a {
  text-decoration: none; }

#footer {
  display: flex;
  padding-top: 40px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.082), white);
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center; }

/* 
$colorBotones:  #000000;
$colorBotonesHover: rgb(32, 31, 31);
*/
.titulosPrincipales, .video p {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 50px;
  text-decoration: none;
  font-weight: 600; }

.video {
  width: 500px;
  height: 300px;
  overflow: hidden;
  position: relative;
  margin: 1% auto;
  display: block;
  border-radius: 20px;
  box-shadow: 5px 8px 12px black; }
  .video iframe {
    width: 100%;
    height: 100%; }
  .video p {
    font-size: 30px;
    position: absolute;
    color: white;
    padding: 25%;
    top: 50px;
    left: 50px;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center; }

.menu {
  display: flex;
  align-items: flex-end;
  text-align: right;
  justify-content: right;
  justify-items: right;
  align-content: flex-end; }
  .menu ul li {
    display: inline-block;
    padding: 20px 20px;
    font-family: 'Montserrat', sans-serif;
    text-align: right;
    font-size: 20px;
    text-decoration: none;
    font-weight: 600;
    text-align: right;
    justify-content: right; }

.carta img {
  max-width: 300px;
  max-height: 250px;
  /*max-width: 300px;
    max-height: 250px;*/
  border-radius: 20px; }

.btn-primary {
  background-color: #000000;
  border-color: #181515; }

:not(.btn-check) + .btn:hover {
  background-color: #222020;
  border-color: #222020; }
