html{
    font-size: 62.5%;
    height: 100%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#fondo{
    background-color: #ffffff;
}
.header{
    align-items: center;
    display:flex;
    align-content:space-between;
}
ul{
    list-style-type: none;
    display: inline block;
    align-items: center;
    margin: auto;
}
a{
    text-decoration: none;
}
.titulosPrincipales{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 50px;
    text-decoration: none;
    font-weight: 600;
}
.titulosSecundarios{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 27px;
    text-decoration: none;
    font-weight: 500;
}
.parrafos{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    text-decoration: none;
    font-weight: 300;
}
button{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: white;
    background-color: black;
    display:flex;
    justify-items: center;
    align-items: center;
    margin:auto;
}
button:hover{
    background-color: rgba(12, 11, 11, 0.616);
}
.video{
    width: 500px;
    height: 300px;
    overflow: hidden;
    position: relative;
    margin: 1% auto;
    display: block;
    border-radius: 20px;
    box-shadow: 5px 8px 12px black;
}
.video iframe{
    width: 100%;
    height: 100%;
}
.header img{
    transform: scale(0.7);
}
.menu{
    display:flex;
    align-items: flex-end;
    text-align: right;
    justify-content: right;
    justify-items: right;
    align-content: flex-end;
}
.menu ul li{
    display: inline-block;
    padding: 20px 20px;
    font-family: 'Montserrat', sans-serif;
    text-align: right;
    font-size: 20px;
    text-decoration: none;
    font-weight: 600;
    text-align: right;
    justify-content: right;
}
.video p{
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    color: white;
    padding: 15%;
    top: 50px;
    left: 50px;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}
.tabla{
    width: 500px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
}
.tabla img{
    width: 100%;
    height: auto;
}
#footer{
    display: flex;
    padding-top: 40px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.082), white);
    
}
#productosVenta .container{
    text-align: center;
    display:flex;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;

}
#productosDestacados .container{
    text-align: center;
    display:flex;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
}
.carta img{
    max-width: 300px;
    max-height: 250px;
    border-radius: 20px;
}
.sobreNosotros img{
    max-width: 1000px;
    max-height: 700px;
    display:flex;
    margin:auto;
    border-radius: 20px;
}
.row{
    display:flex;
    padding:5px;
}
.column{
    flex:25%;
    padding: 5px;
}
.column img{
    margin-top: 5px;
    width: 100%;
}
.form-contact {
    background: #FFF;
    width: 400px;
    box-shadow: 7px 13px 37px rgba(0, 0, 0, .8);
  }
  .contact {
    padding: .8rem;
    overflow: hidden;
    color: gray;
  }
  .contact label, .contact input, .contact textarea {
    display: block;
    width: 100%;
    margin-bottom: 5px;   
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }
  .contact label {
    font-weight: 700;
  }
  .contact input:not([type='submit']), .contact textarea {
    border: none;
    border-bottom: 2px solid #000000;
    margin-bottom: 10px;
    font-size: 20px;
    outline: none;
    color: gray;
  }
  .contact textarea {
    min-height: 100px;
  }
  input[type='submit'] {
    padding: 10px;
    background: #000000;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
  }
  .map{
    padding-left: 5% auto;
  }

  .mainShowcase img{
    filter:grayscale(100%);
    transition: all 2s;
  }

  .mainShowcase img:hover{
    filter: none;
  }

  .contenedorIndex{
    width: 100%;
    max-width: 1000px;
    margin: 10px auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,auto);
  }

  .contenedorIndex .header{
    grid-column-start: 1;
    grid-column-end: -1;
  }

  .contenedorIndex .main{
    grid-column: 1 / 3;
    grid-column-start: 1;
    grid-column-end: -1;
  }

  .contenedorIndex .contenidoIndex{
    grid-column: 1 / 3;
    grid-column-start: 1;
    grid-column-end: -1;
  }

  .contenedorIndex #footer{
    grid-column-start: 1;
    grid-column-end:-1;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
  }

   .contenedorProductos{
    width: 100%;
    max-width: 1000px;
    margin: 10px auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(7,auto);
  }

  .contenedorProductos .header{
    grid-column-start: 1;
    grid-column-end: -1;
  }

  .contenedorProductos #footer{
    grid-column-start: 1;
    grid-column-end:-1;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
  }

  .contenedorProductos .mainProductos{
        grid-column: 1 / 3;
        grid-column-start: 1;
        grid-column-end: -1;
      }

  .contenedorSobreNosotros{
      width: 100%;
      max-width: 1000px;
      margin: 10px auto;
      display: grid;
      grid-gap: 10px;
      grid-template-columns: repeat(1,1fr);
      grid-template-rows: repeat(4,auto);
  }   

  .contenedorSobreNosotros .header{
    grid-column-start: 1;
    grid-column-end: -1;
  }

  .contenedorSobreNosotros #footer{
    grid-column-start: 1;
    grid-column-end:-1;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
  }

  .contenedorSobreNosotros .mainSobreNosotros{
    grid-column: 1 / 3;
    grid-column-start: 1;
    grid-column-end: -1;
  }

  .contenedorShowcase{
    width: 100%;
    max-width: 1000px;
    margin: 10px auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,auto);
  }

  .contenedorShowcase .header{
    grid-column-start: 1;
    grid-column-end: -1;
  }

  .contenedorShowcase #footer{
    grid-column-start: 1;
    grid-column-end:-1;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
  }

  .contenedorShowcase .mainShowcase{
    grid-column: 1 / 3;
    grid-column-start: 1;
    grid-column-end: -1;
  }

  .contenedorContacto{
    width: 100%;
    max-width: 1000px;
    margin: 10px auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,auto);
  }

  .contenedorContacto .header{
    grid-column-start: 1;
    grid-column-end: -1;
  }

  .contenedorContacto #footer{
    grid-column-start: 1;
    grid-column-end:-1;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
  }

  .contenedorContacto .mainContacto .contacto .form-contact{
    grid-column: span 2 ;
  }

  .contenedorContacto .aside{
    grid-column: 3 / 4;
  }
 
  @media screen and (max-width: 768px){
    .contenedorContacto .mainContacto .contacto .form-contact{
      grid-column: 1 / -1;
    }
    .contenedorContacto .aside{
      grid-column: 1 / -1;
    }
  }
  
  @media screen and (max-width: 768px){
    .contenedorIndex #productosDestacados .container{
        display:flex;
        flex-direction: column;
    }

    @media screen and (max-width: 768px){
      .contenedorShowcase .mainShowcase .row{
          display:flex;
          flex-direction: column;
      }
    }

 @media screen and (max-width: 768px){
     .contenedorProductos #productosVenta .container{
        display:flex;
        flex-direction: column;
        } 
    }
    .contenedorIndex .main .video p{
        font-size: 30px;
        font-family: 'Montserrat', sans-serif;
        position: absolute;
        text-decoration: none;
        text-align: center;
        font-weight: 600;
        color: white;
        padding: 15%;
        top: 20px;
        left: 20px;
        text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
        justify-content: center;
        align-items: center;
    }
  }

