.mainShowcase img{
    filter:grayscale(100%);
    transition: all 1s;
     &:hover{
    filter:none;
  }
}

.row{
    display:flex;
    padding:5px;
}
.column{
    flex:25%;
    padding: 5px;
    img{
    margin-top: 5px;
    width: 100%;
    }
}